h1#h1Loading {
  font-size: 3.75rem !important;
  color: #c5303f !important;
  transition: .3s;
  min-width: 215px;
}/* Animasi fade-in untuk setiap huruf */
.fade-inLoading {
  opacity: 0; /* Awalnya tidak terlihat */
  animation: fadeIn .25s ease-in-out forwards; /* Animasi fade-in */
}

/* Animasi fade-out untuk seluruh teks */
.fade-outLoading {
  animation: fadeOut .25s ease-in-out forwards; /* Animasi fade-out */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

body {
  max-height: 100vh;
}