.search-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.search-container img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.card {
  margin: 20px 0;
}

#root {
  padding-top: 115px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card-status .fs-7 {
  font-size: .8rem !important;
}