body {
  padding-top: 70px;
  padding-bottom: 74px;
  max-height: none;
}

.pointer {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #e3e3e3;
  border-radius: 5px;
}